{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock css_files %}

{% block page_title %}
index
{% endblock page_title %}

{% block content %}

<div class="container mt-5">
    <a href="{% url 'deltaTEMP' %}">
        <button type="button" class="btn btn-danger">Devices with deltaTemp > 50</button>
    </a>
</div>

<div class="container mt-5">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ts</th>
                <th scope="col">interval</th>
                <th scope="col">fullAlarmLimit</th>
                <th scope="col">version</th>
                <th scope="col">deltaTemp</th>
                <th scope="col">deltaTime</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="mqttTableBody">

            {% for device in parsedDeviceList %}
                <tr>
                    <td>{{ device.id }}</td>
                    <td>{{ device.device.ts }}</td>
                    <td>{{ device.device.interval }}</td>
                    <td>{{ device.device.fullAlarmLimit }}</td>
                    <td>{{ device.device.version }}</td>
                    <td>{{ device.device.deltaTemp }}</td>
                    <td>{{ device.device.deltaTime }}</td>
                    <td> 
                        <a href="/details/{{ device.id }}" target="_blank">
                            <button type="button" class="btn btn-danger">Details</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io.connect('http://localhost:3000',
                {
                    transports: ["websocket"],
                    cors: {
                        origin: "http://localhost:3000/",
                    },
                });

            socket.on('mqttData', (data) => {
                location.reload()
            });
        });  
    </script>

</div>

{% endblock content %}

{% block js_files %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>

{% endblock %}